{% set fix_cache = content|render %}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <!-- <h2{{ title_attributes }}>{{ label }}</h2> -->
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <section class="block chat-block is-collapsed">
      <div class="block__wrapper">
        <h3 class="block__title block__title--expandable js-expand-block"><span class="block__title-image-container block__title-image-container--icon"><img class="h-round" src="/themes/design/images/icon-call-center.svg"></span><span>{{ content.field_block_title|field_value }}</span></h3>
        <div class="block__content">
          <div class="chat-block__content">
            <div class="chat-block__person-data">
              <div class="chat-block__avatar"><img class="h-round" src="{{ content.field_avatar_image|field_value }}"></div>
              <div class="chat-block__info">
                <div class="chat-block__name">{{ content.field_name|field_value }}</div>
              </div>
            </div>
            <div class="chat-block__chat-buttons"><a class="brand brand--inline brand--skype" href="{{ content.field_skype_link|field_value }}">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="20px" height="20px" viewbox="0 0 430.123 430.123" xml:space="preserve">
                  <path fill="#00aff0" d="M412.164,246.198c1.605-10.155,2.45-20.544,2.45-31.148c0-110.215-89.342-199.555-199.56-199.555   c-10.576,0-20.995,0.871-31.141,2.458C165.534,6.581,143.842,0,120.595,0C53.996,0,0.005,53.984,0.005,120.59   c0,23.242,6.585,44.916,17.952,63.332c-1.573,10.172-2.439,20.528-2.439,31.132c0,110.223,89.34,199.536,199.532,199.536   c10.585,0,21.007-0.816,31.152-2.417c18.398,11.35,40.072,17.949,63.314,17.949c66.617,0,120.602-53.998,120.602-120.602   C430.123,286.269,423.542,264.6,412.164,246.198z M309.801,305.81c-8.442,12.153-20.843,21.65-37.047,28.479   c-16.237,6.847-35.428,10.254-57.59,10.254c-26.562,0-48.554-4.648-65.913-14.034c-12.305-6.721-22.313-15.737-30.007-26.98   c-7.71-11.252-11.619-22.271-11.619-33.015c0-6.338,2.417-11.85,7.122-16.344c4.754-4.527,10.877-6.796,18.104-6.796   c5.92,0,11.005,1.783,15.145,5.316c4.109,3.532,7.556,8.667,10.375,15.443c3.379,7.85,7.049,14.412,10.954,19.648   c3.881,5.171,9.343,9.488,16.417,12.867c6.996,3.388,16.307,5.082,27.958,5.082c15.945,0,28.831-3.449,38.693-10.253   c9.912-6.866,14.673-15.22,14.673-25.314c0-8.051-2.567-14.445-7.831-19.43c-5.312-5.05-12.172-8.896-20.685-11.579   c-8.546-2.711-20.02-5.586-34.399-8.615c-19.308-4.214-35.456-9.119-48.533-14.752c-13.094-5.654-23.522-13.383-31.251-23.146   c-7.745-9.859-11.607-22.113-11.607-36.627c0-13.84,4.077-26.217,12.239-36.989c8.158-10.802,19.961-19.07,35.351-24.829   c15.336-5.757,33.391-8.637,54.075-8.637c16.541,0,30.849,1.914,42.96,5.722c12.078,3.836,22.146,8.898,30.196,15.25   c7.999,6.338,13.885,13.023,17.613,20.038c3.725,7.036,5.601,13.908,5.601,20.614c0,6.235-2.417,11.89-7.127,16.846   c-4.709,4.963-10.733,7.493-17.768,7.47c-6.342,0-11.317-1.463-14.767-4.56c-3.36-2.996-6.889-7.766-10.706-14.414   c-4.825-9.276-10.604-16.503-17.324-21.672c-6.543-5.073-17.338-7.714-32.359-7.682c-13.898,0-25.018,2.84-33.411,8.394   c-8.445,5.643-12.482,12.19-12.501,19.861c0.014,4.807,1.396,8.86,4.177,12.326c2.824,3.498,6.753,6.529,11.803,9.084   c5.052,2.595,10.191,4.602,15.355,6.046c5.225,1.481,13.894,3.622,25.944,6.457c15.112,3.257,28.819,6.896,41.136,10.862   c12.293,3.986,22.784,8.793,31.451,14.52c8.736,5.71,15.564,12.99,20.438,21.783c4.909,8.807,7.354,19.564,7.354,32.222   C322.509,279.968,318.263,293.676,309.801,305.81z"></path>
                </svg><span class="brand__text">{{ content.field_skype_text|field_value }}</span></a><a class="brand brand--inline brand--messenger" href="{{ content.field_fb_link|field_value }}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewbox="0 0 504.72 504.72" xml:space="preserve">
                  <path style="fill:#3AD5F9;" d="M252.952,0.36C113.784,0.36,0,104.832,0,233.696C0,307.12,36.952,372.624,92.952,415.4v88.96l86.776-47.088c22.896,6.344,47.632,9.76,72.752,9.76c139.168,0,252.24-104.472,252.24-233.336S392.12,0.36,252.952,0.36zM278.008,314.584l-64.184-68.448L88.608,314.584L226.352,168.36l65.736,68.448l123.656-68.448L278.008,314.584z"></path>
                  <path style="fill:#0382F9;" d="M252.952,19.648C113.784,19.648,0,104.824,0,233.696C0,307.12,36.952,372.624,92.952,415.4v88.96l86.776-47.088c22.896,6.344,47.632,9.76,72.752,9.76c139.168,0,252.24-104.472,252.24-233.336S392.12,19.648,252.952,19.648zM278.008,314.584l-64.184-68.448L88.608,314.584L226.352,168.36l65.736,68.448l123.656-68.448L278.008,314.584z"></path>
                  <g>
                    <polygon style="fill:#0656F7;" points="401.064,176.488 283.4,227.76 292.088,236.8"></polygon>
                    <path style="fill:#0656F7;" d="M412.984,171.288L278.008,314.584l-56.24-59.968l-115.68,50.408l-17.48,9.56l3.096-3.288L27.16,339.008c16.24,29.648,38.416,55.84,65.792,76.392v88.96l86.776-47.088c22.896,6.344,47.632,9.76,72.752,9.76c139.168,0,252.24-104.472,252.24-233.336c0-33.192-8.768-64.144-22.256-92.728L412.984,171.288z"></path>
                  </g>
                </svg><span class="brand__text">{{ content.field_fb_text|field_value }}</span></a></div>
          </div>
        </div>
      </div>
      <button class="block__expand-button js-expand-block" type="button">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewbox="0 0 16 16">
          <path d="M1.233 6.15l5.694 5.951c0.027 0.029 0.055 0.055 0.084 0.082 0.259 0.235 0.605 0.379 0.984 0.379 0.42 0 0.799-0.177 1.066-0.46l5.708-5.971c0.273-0.291 0.441-0.683 0.441-1.115s-0.168-0.824-0.442-1.116c-0.266-0.284-0.645-0.462-1.065-0.462s-0.799 0.178-1.065 0.462l-4.642 4.849-4.628-4.834c-0.026-0.029-0.054-0.055-0.083-0.082-0.259-0.235-0.605-0.379-0.984-0.379-0.42 0-0.799 0.177-1.066 0.46-0.275 0.289-0.443 0.679-0.443 1.109 0 0.002 0 0.004 0 0.007v0.002c0 0.002 0 0.004 0 0.007 0 0.431 0.168 0.822 0.443 1.111z"></path>
        </svg>
      </button>
    </section>
  {% endblock %}
</div>