.layout__block
    include numbers

.layout__block
    .layout__sub-block
        p BComeSafe increases security on work, in schools and in public buildings. BComeSafe increases security on work, in schools and in public buildings
        img(src=pathImg + "Video-forside.png", alt="Video forside")
        p BComeSafe is an alarm and crisis management system built on open and proven technologies, but with a revolutionary approach.
        p There is a growing need to have systems that can increase security in workplaces, schools and public buildings.
        p BComeSafe can be the decisive technology helping people in a critical situation, in accidents and in other emergency situations. BComeSafe is the new technology that warns and guides people and facilitates crisis management by providing the best information at the right time.
        p Time is of essence in making the right decision and to take the proper precautions.

.layout__block
    h2 This is how it works

    .layout__sub-block
        h3 BComeSafe consists of...

        ul.list
            li
                p an app that the users download to smartphone, laptops and tablet PCs.
                img(src=pathImg + "Appens-forside-180x300.png")
            li
                p a shelter PC installed by the BComeSafe team.
                img(src=pathImg + "pc-300x300.png", style="max-width: 110px;")
            li
                p furthermore, some institutions have installed physical alarm buttons that communicate with the shelter. The BComeSafe app communicates with the WIFI hotspots available in the company or institution.
                img(src=pathImg + "button-575656__180-300x150.png", style="max-width: 110px;")
    .layout__sub-block
        h3 What can trigger an alarm?

        ul.list
            li
                p when a person with the BComeSafe app is feeling a threat or is witnessing a threatening situation, he or she can trigger an alarm by activating the alarm button on the app.
                img(src=pathImg + "alarm-knappen-180x300.png")
            li
                p the personen triggering the alarm can chose only to call the shelter in the institution/company or to call both the shelter and the police.
                img(src=pathImg + "alarm-is-active-180x300.png")
    .layout__sub-block
        h3 What happens then?

        p The shelter receives the alarm and the emergency personnel is summoned by their smartphones and gather in 30-60 seconds.
        p The emergency personnel gain a quick overview on the shelter PC where they now are able to chat and talk to those who triggered the alarm.
        img(src=pathImg + "hovedsiden-1024x493.png")
        p On the top of the main page the emergency personnel are informed about whether the police is alerted as well – and by whom .
        img(src=pathImg + "red-linje-2.png")
        p The red top bar indicates that a serious situation is brewing and the red colour tells that the police has been alarmed.
        img(src=pathImg + "red-linje.png")
        p An orange top bar indicates that the situation is still not critical.
        img(src=pathImg + "orange-linie-2.png")
        p The shelter personnel can now zoom in on selceted parts of the company or the institution to see exactly where the threat or the perpetrator is located.
        img(src=pathImg + "kort-zoom.png")
        p Then the shelter personnel can continue the communication via chat with the person(s) who triggered the alarm.
        img(src=pathImg + "kort-med-chat.png")
        p Have more than six persons triggered an alarm, the rest will be queued. The shelter can draw in the extra persons based on the character of the alarm.
    .layout__sub-block
        img(src=pathImg + "Samtale-pa-appen-180x300.png")
        p On a smartphone a conversation will look like this giving also the possibility to call the police.
        img(src=pathImg + "history-messages-300x292.png")
        p The threats can also be fire as exposed in the dialogue above.
        p Fast and exact communication can save lives and make sure that only the relevant persons are warned or evacuated. This reduces the risk of panic and chaotic situations.
        img(src=pathImg + "canelled.jpg")
        p If the alarm is false or the situation is under control, the alarm is cancelled, and the involved persons receive a message on their smartphones or laptops. The shelter can also make an announcement over the speakers.

.layout__block
    h2 BComeSafe Cloud

    p In this solution you will access BComeSafe through the cloud. This means that the program runs somewhere else and not on your local IT environment.
    p We are responsible for operations and for updating the system and you will be notified about updates in advance.
    p We make sure the solution also works in a new version, and we agree on a testing procedure with you to ensure that it works in your own environment (communication ports are open, the reference to the right addresses in your IT environment, etc.).

.layout__block
    h2 BComeSafe Local

    p In this solution operating BComeSafe will be locally in your own it environment. Your organization is responsible for the operations. We are responsible for updating the system and you will be notified about updates in advance.
    p We make sure that the program also works in new versions. We agree on testing procedures with you to ensure that it works in your own environment (communication ports are open, the reference to the right addresses in your IT environment, etc.).
